.wrapper {
  display: flex;
  padding: 24px;
  height: 100%;
}

.carousel-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.wrapper .carousel-container .use-spring-carousel-item {
  min-width: 300px;
}
