.wrapper {
  display: flex;
  padding: 24px;
  height: 100%;
  max-height: 400px;
}

.wrapper button {
  border: none;
}

.carousel-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.wrapper .carousel-container .use-spring-carousel-item {
  min-width: 350px;
}
