html,
body,
#storybook-root {
  display: flex;
  height: 100%;
}

.sb-show-main.sb-main-padded {
  width: 100%;
  overflow: hidden;
  padding: 24px;
}

#storybook-root {
  overflow: hidden;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  border: 20px solid rgba(0, 0, 0, 0.88);
}

.carousel-wrapper {
  flex: 1;
  overflow: hidden;
}

.use-spring-carousel-item div {
  display: flex;
  justify-content: center;
  align-items: center;
}
